# Frontend
/frontend/node_modules/
/frontend/build/

# Backend
/backend/__pycache__/
/backend/venv/
/backend/uploads/*
!/backend/uploads/.keep

# General
.DS_Store
*.log
**/.env*

# Testing artifacts
.pytest_cache/
.coverage
htmlcov/
.cache/
.tox/
