# Frontend
/frontend/node_modules/
/frontend/build/

# Backend
/backend/__pycache__/
/backend/venv/

# General
.DS_Store
*.log
**/.env*
uploads/*
!uploads/.keep

# Testing artifacts
.pytest_cache/
.coverage
htmlcov/
.cache/
.tox/
